name: Update Changelog

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  update-changelog:
    name: Update Changelog
    runs-on: ubuntu-24.04

    steps:
    - name: Disable ruleset in repository
      uses: solairen/ruleset-trigger@1.0.2
      with:
        token: ${{ secrets.GHCR_PASSWORD }}
        ruleset_id: ${{ secrets.RULESET_ID }}
        repository: ${{ github.repository }}
        enforcement: "disabled"

    - name: Changelog Update
      uses: bcsizmadia/changelog_update@1.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit_message: "Update changelog for new release"

    - name: Enable ruleset in repository
      uses: solairen/ruleset-trigger@1.0.2
      with:
        token: ${{ secrets.GHCR_PASSWORD }}
        ruleset_id: ${{ secrets.RULESET_ID }}
        repository: ${{ github.repository }}
        enforcement: "active"